.mt20 {
  margin-top: 20px;
}

.nowrap {
  white-space: nowrap;
}

.c-error {
  color: var(--color-error);
}

.c-exception {
  color: var(--color-exception);
}

.c-success {
  color: var(--color-success);
}

.c-pending {
  color: var(--color-pending);
}

.c-tip {
  color: var(--color-graytip);
}
