.cs-label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;
  color: var(--color-label);
}

.cs-input-hint {
  margin-top: 4px;
  font-weight: 500;
  font-size: 12px;
  color: var(--color-label);
}

.cs-error-message {
  display: none;
  margin-top: 4px;
  margin-bottom: 4px;
  color: var(--color-error);

  .is-error & {
    display: block;
  }
}

.cs-formfield {
  width: 100%;
  margin: 20px 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  input {
    display: block;
    margin: 0;
    border: 2px solid transparent;
    border-radius: 8px;
    padding: 0 23px;
    height: 56px;
    box-shadow: none;
    font-family: inherit;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.4;
    color: inherit;
    background-color: var(--color-input-bg);

    &:focus {
      outline: none;
      border-color: var(--color-brand);
      background-color: var(--color-main-bg);
    }
  }

  select {
    display: block;
    margin: 0;
    border: 2px solid transparent;
    border-radius: 8px;
    padding: 0 38px 0 23px;
    height: 56px;
    box-shadow: none;
    font-family: inherit;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.4;
    color: inherit;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M506 124c-9-9-22-9-30 0L256 343 36 124a21 21 0 10-30 30l235 234a21 21 0 0030 0l235-234c8-9 8-22 0-30z' fill='%231B1D21'/%3E%3C/svg%3E%0A");
    background-position: right 16px top 50%, 0 0;
    background-size: 11px auto, 100%;
    background-repeat: no-repeat, repeat;
    background-color: var(--color-input-bg);
    appearance: none;

    &:focus {
      outline: none;
      border-color: var(--color-brand);
      background-color: var(--color-main-bg);
    }
  }

  textarea {
    display: block;
    margin: 0;
    border: 2px solid transparent;
    border-radius: 8px;
    padding: 18px 23px;
    height: 85px;
    box-shadow: none;
    font-family: inherit;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.4;
    color: inherit;
    resize: none;
    background-color: var(--color-input-bg);

    &:focus {
      outline: none;
      border-color: var(--color-brand);
      background-color: var(--color-main-bg);
    }
  }

  &.is-error {
    input,
    select,
    textarea {
      border-color: var(--color-error);
    }
  }
}

.cs-checkfield {
  position: relative;
  display: inline-flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 20px 0;
  text-align: left;
  font-weight: 600;
  font-size: 13px;
  color: var(--color-link);
  cursor: pointer;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  .st-row & {
    margin: 0;
  }

  input {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    pointer-events: none;

    &:checked ~ .cs-checkfield-label {
      color: var(--color-text);
    }

    &:checked ~ .cs-checkfield-box {
      border-color: var(--color-brand);
      background-color: var(--color-brand);
    }

    &:checked ~ .cs-checkfield-box::before,
    &:checked ~ .cs-checkfield-box svg {
      opacity: 1;
      transform: scale(1);
    }
  }

  a {
    color: var(--color-link);
    text-decoration: none;
  }

  &-box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex: none;
    margin-right: 8px;
    width: 20px;
    height: 20px;
    border: 2px solid var(--color-input-bg);
    border-radius: 4px;
    cursor: pointer;

    svg {
      display: block;
      flex: none;
      width: 10px;
      height: 10px;
      color: var(--color-main-bg);
      transform: scale(0.8);
      opacity: 0;
    }

    input[type="radio"] ~ & {
      border-radius: 50%;

      &::before {
        content: "";
        flex: none;
        width: calc(100% - 4px);
        height: calc(100% - 4px);
        border-radius: 50%;
        background-color: var(--color-main-bg);
        opacity: 0;
        transform: scale(0.8);
        transition: opacity 0.1s ease-out, transform 0.1s ease-out;
      }

      svg {
        display: none;
      }
    }
  }

  &-label {
    margin-top: -1px;
  }
}
