<!DOCTYPE html>
<html lang="ru">
  <%= _.template(require('./includes/head.html').default)({hash}) %>

  <body>
    <%= _.template(require('./includes/header.html').default)() %>

    <%= _.template(require('./includes/main.html').default)() %>

    <%= _.template(require('./includes/cards.html').default)() %>
    
    <%= _.template(require('./includes/lessons.html').default)() %>

    <%= _.template(require('./includes/tutors.html').default)() %>

    <%= _.template(require('./includes/process.html').default)() %>
 
    <%= _.template(require('./includes/forma.html').default)() %>

        <!-- <button type="button" class="button js-modal-btn" data-modal="example-modal">Example modal button</button> -->
      <!-- <button type="button" class="button js-tooltip-btn" data-tooltip="example-tooltip" data-content="Hello there">
        Example tooltip button
      </button> -->


    <%= _.template(require('./includes/footer.html').default)() %>

    <%= _.template(require('./includes/modals.html').default)() %>

    <script src="./static/js/bundle.js?v=<%= hash %>"></script>
  </body>
</html>
