<!DOCTYPE html>
<html lang="ru">
  <%= _.template(require('./includes/head.html').default)({hash}) %>

  <body>
    <%= _.template(require('./includes/header.html').default)() %>

    <main class="container container__main">
          <div class="main__column-1">
            <p class="main__column-1--text">
              Индивидуальные онлайн-занятия<br>
              с репетитором
            </p>
            <a href="" class="button main__column-1--button">Записаться на пробный урок</a>
          </div>
          <div class="main__column-2">
            <img class="main__column-2--pic" src="static/images/teacher_card_1.png" alt="">
            <a href="" class="button main__column-1--button-alt">
              Записаться на пробный урок
            </a>
          </div>
          <div class="main__column-3">
            <div class="main__column-3--advantage-1">
              <img src="static/images/advantage_1.png" alt="" class="main__column-3--advantage-pic">
              <p class="small-text">Большой выбор предметов, 
                подготовка к ОГЭ и ЕГЭ</p>
            </div>
            <div class="main__column-3--advantage-2">
              <img src="static/images/advantage_2.png" alt="" class="main__column-3--advantage-pic">
              <p class="small-text">Стабильная учебная платформа, работающая без сбоев</p>
            </div>
            <div class="main__column-3--advantage-3">
              <img src="static/images/advantage_3.png" alt="" class="main__column-3--advantage-pic">
              <p class="small-text">Стоимость занятий от 490 руб.<br> 
                за академический час
                </p>
            </div>
            <div class="main__column-3--advantage-4">
              <img src="static/images/advantage_4.png" alt="" class="main__column-3--advantage-pic">
              <p class="small-text">Наглядные уроки на<br> мультимедийной онлайн-доске</p>
            </div>
          </div>
    </main>
      <div class="container cards">
        <div class="cards__item">
          <div class="cards__item--text">
            <span class="cards__item--text-big">Ученикам</span>
            <p class="cards__item--text-small">
              Подтяните успеваемость и увеличьте шансы успешной сдачи экзаменов
            </p>
          </div>
          <div class="cards__item--bottom">
            <div class="cards__item--button">
              <a href="" class="button cards-button">
                Подробнее
              </a>
            </div>
            <div class="cards__item--pic">
              <img src="static/images/teacher_card_2.png" alt="">
            </div>
          </div>
        </div>
        <div class="cards__item">
          <div class="cards__item--text">
           <span class="cards__item--text-big">Родителям</span>
          <p class="cards__item--text-small">
            Выбирайте удобное и доступное школьное обучение для Вашего ребенка
          </p>
          </div>
          <div class="cards__item--bottom">
            <div class="cards__item--button">
              <a href="" class="button cards-button cards-button-alt">
                Подробнее
              </a>
            </div>
            <div class="cards__item--pic">
              <img src="static/images/teacher_card_3.png" alt="">
            </div>
          </div>
        </div>
        <div class="cards__item">
          <div class="cards__item--text">
            <span class="cards__item--text-big">Учителям</span>
            <p class="cards__item--text-small">
              Зарабатывайте онлайн-репетиторством по гибкому графику в удобном формате
            </p>
          </div>
          <div class="cards__item--bottom">
            <div class="cards__item--button">
              <a href="" class="button cards-button">
                Подробнее
              </a>
            </div>
            <div class="cards__item--pic">
              <img src="static/images/teacher_card_4.png" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="container lessons">
        <p class="lessons__title">
          Учебные предметы с 5 по 11 класс
        </p>
        <div class="lessons__cards">
          <a href="" class="lessons__cards--item">
            <img class="lessons__cards--item-pic" src="static/images/card_english.png" alt="">
            <p class="lessons__cards--item-text">Английский<br>язык</p>
          </a>
          <a href="" class="lessons__cards--item">
            <img class="lessons__cards--item-pic" src="static/images/card_russian.png" alt="">
            <p class="lessons__cards--item-text">Русский язык</p>
          </a>
          <a href="" class="lessons__cards--item">
            <img class="lessons__cards--item-pic" src="static/images/card_literature.png" alt="">
            <p class="lessons__cards--item-text">Литература</p>
          </a>
          <a href="" class="lessons__cards--item">
            <img class="lessons__cards--item-pic" src="static/images/card_math.png" alt="">
            <p class="lessons__cards--item-text">Математика/алгебра</p>
          </a>
          <a href="" class="lessons__cards--item">
            <img class="lessons__cards--item-pic" src="static/images/card_geography.png" alt="">
            <p class="lessons__cards--item-text">География</p>
          </a>
          <a href="" class="lessons__cards--item">
            <img class="lessons__cards--item-pic" src="static/images/card_history.png" alt="">
            <p class="lessons__cards--item-text">История</p>
          </a>
          <a href="" class="lessons__cards--item">
            <img class="lessons__cards--item-pic" src="static/images/card_biology.png" alt="">
            <p class="lessons__cards--item-text">Биология</p>
          </a>
          <a href="" class="lessons__cards--item">
            <img class="lessons__cards--item-pic" src="static/images/card_info.png" alt="">
            <p class="lessons__cards--item-text">Информатика</p>
          </a>
          <a href="" class="lessons__cards--item">
            <img class="lessons__cards--item-pic" src="static/images/card_social.png" alt="">
            <p class="lessons__cards--item-text">Общество-<br>знание</p>
          </a>
          <a href="" class="lessons__cards--item">
            <img class="lessons__cards--item-pic" src="static/images/card_early.png" alt="">
            <p class="lessons__cards--item-text">Начальные классы</p>
          </a>
        </div>
      </div>
      <div class="container lessons tutors">
        <div class="tutors__title">
          <p class="lessons__title">
            Репетиторы
          </p>
        </div>
        <div class="swiper">
          <div class="swiper-wrapper">  
            <div class="swiper-slide">
              <div class="info_teacher">
                <img class="teacher_img" src="static/images/teacher_1.png" alt="">
                <div class="info_teacher-small">
                  <p class="cards__item--text-small">Ирина Дубовец</p>
                  <p class="lessons__cards--item-text">
                    54 года<span class="lessons__cards--item-text">Стаж: 12 лет</span>
                  </p>
                  <p class="rubhour">от 500₽/час</p>

                </div>
              </div>
              <span class="boldtext_swiper">Русский язык, Литература</span>
              <div class="subjects_search">
                <a href="" class="subjects_serach-item">Подготовка к ОГЭ</a>
                <a href="" class="subjects_serach-item">Подготовка к ЕГЭ</a>
                <a href="" class="subjects_serach-item">Подготовка к Олимпиаде</a>
              </div>
              <div class="classes_search">
                <a href="" class="classes_search-item">5-8 классы</a>
                <a href="" class="classes_search-item">9-11 классы</a>
              </div>
              <span class="teacher_education classes_search-item">Образование: ЧелГУ, факультет<br>филологии и журналистики </span>
              <a href="" class="button button-swiper">
                Записаться на урок
              </a>
            </div>
            <div class="swiper-slide">
              <div class="info_teacher">
                <img class="teacher_img" src="static/images/teacher_2.png" alt="">
                <div class="info_teacher-small">
                  <p class="cards__item--text-small">Иван Семёнов</p>
                  <p class="lessons__cards--item-text">
                    32 года<span class="lessons__cards--item-text">Стаж: 6 лет</span>
                  </p>
                  <p class="rubhour">от 700₽/час</p>

                </div>
              </div>
              <span class="boldtext_swiper">Русский язык, Литература</span>
              <div class="subjects_search">
                <a href="" class="subjects_serach-item">Подготовка к ОГЭ</a>
                <a href="" class="subjects_serach-item">Подготовка к ЕГЭ</a>
                <a href="" class="subjects_serach-item">Подготовка к Олимпиаде</a>
              </div>
              <div class="classes_search">
                <a href="" class="classes_search-item">5-8 классы</a>
                <a href="" class="classes_search-item">9-11 классы</a>
              </div>
              <span class="teacher_education classes_search-item">Образование: ЧелГУ, факультет<br>филологии и журналистики </span>
              <a href="" class="button button-swiper">
                Записаться на урок
              </a>
            </div>
            <div class="swiper-slide">
              <div class="info_teacher">
                <img class="teacher_img" src="static/images/teacher_3.png" alt="">
                <div class="info_teacher-small">
                  <p class="cards__item--text-small">Оксана Доброва</p>
                  <p class="lessons__cards--item-text">
                    36 года<span class="lessons__cards--item-text">Стаж: 10 лет</span>
                  </p>
                  <p class="rubhour">от 1000₽/час</p>

                </div>
              </div>
              <span class="boldtext_swiper">Математика, Физика</span>
              <div class="subjects_search">
                <a href="" class="subjects_serach-item">Подготовка к ОГЭ</a>
                <a href="" class="subjects_serach-item">Подготовка к ЕГЭ</a>
                <a href="" class="subjects_serach-item">Подготовка к Олимпиаде</a>
              </div>
              <div class="classes_search">
                <a href="" class="classes_search-item">5-8 классы</a>
                <a href="" class="classes_search-item">9-11 классы</a>
              </div>
              <span class="teacher_education classes_search-item">Образование: ЧелГУ, факультет<br>Вычислительной математики </span>
              <a href="" class="button button-swiper">
                Записаться на урок
              </a>
            </div>
            <div class="swiper-slide">
              <div class="info_teacher">
                <img class="teacher_img" src="static/images/teacher_1.png" alt="">
                <div class="info_teacher-small">
                  <p class="cards__item--text-small">Ирина Дубовец</p>
                  <p class="lessons__cards--item-text">
                    54 года<span class="lessons__cards--item-text">Стаж: 12 лет</span>
                  </p>
                  <p class="rubhour">от 500₽/час</p>

                </div>
              </div>
              <span class="boldtext_swiper">Русский язык, Литература</span>
              <div class="subjects_search">
                <a href="" class="subjects_serach-item">Подготовка к ОГЭ</a>
                <a href="" class="subjects_serach-item">Подготовка к ЕГЭ</a>
                <a href="" class="subjects_serach-item">Подготовка к Олимпиаде</a>
              </div>
              <div class="classes_search">
                <a href="" class="classes_search-item">5-8 классы</a>
                <a href="" class="classes_search-item">9-11 классы</a>
              </div>
              <span class="teacher_education classes_search-item">Образование: ЧелГУ, факультет<br>филологии и журналистики </span>
              <a href="" class="button button-swiper">
                Записаться на урок
              </a>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
      <div class="container lessons process">
        <p class="process__title lessons__title">
          Как проходит обучение
        </p>
        <div class="progress__grid">
          <div class="progress__grid--item">
            <img class="progress__grid--item-pic1" src="static/images/numbers_1.png" alt="1">
            <p class="progress__grid--item-bigtext">Регистрация</p>
            <p class="progress__grid--item-smalltext">Ваш персональный менеджер расскажет о всех возможностях платформы</p>
          </div>
          <div class="progress__grid--item">
            <img class="progress__grid--item-pic2" src="static/images/numbers_2.png" alt="2">
            <p class="progress__grid--item-bigtext">Знакомство с платформой</p>
            <p class="progress__grid--item-smalltext">Посмотрите, как работает сервис на занятии и определите свои цели</p>
          </div>
          <div class="progress__grid--item">
            <img class="progress__grid--item-pic3" src="static/images/numbers_3.png" alt="3">
            <p class="progress__grid--item-bigtext">Выбор подходящего времени</p>
            <p class="progress__grid--item-smalltext">Составляйте расписание занятий, учитывая свои индивидуальные потребности</p>
          </div>
          <div class="progress__grid--item">
            <img class="progress__grid--item-pic4" src="static/images/numbers_4.png" alt="4">
            <p class="progress__grid--item-bigtext">Занятия в любом удобном месте</p>
            <p class="progress__grid--item-smalltext">Всё, что для этого нужно – компьютер или ноутбук с микрофоном, камерой и доступом в интернет</p>
          </div>
        </div>
      </div>
      <div class="container lessons forma">
        <p class="forma__title lessons__title">
          Запись на пробный урок
        </p>
        <div class="forma__inputs">
          <div class="forma__inputs--title">
            Это бесплатно! Выберите роль учителя, ученика или родителя,<br>оставьте контакты и мы проведём для вас ознакомительный урок
          </div>
          <div class="forma__inputs--user">
            <form id="user" method="post" action="">
              <label for="name" class="forma__inputs--label">Имя:</label>
              <input class="forma__inputs--input" type="text" id="name" placeholder="Оксана">
              <label for="tel" class="forma__inputs--label">Телефон:</label>
              <input class="forma__inputs--input" type="tel" id="tel" placeholder="+79823346875">
              <label for="subject" class="forma__inputs--label">Предмет:</label>
              <select class="forma__inputs--input" name="" id="subject">
                <option value="">Английский язык</option>
                <option value="">Русский язык</option>
                <option value="">Литература</option>
                <option value="">Математика/алгебра</option>
                <option value="">География</option>
                <option value="">История</option>
                <option value="">Биология</option>
                <option value="">Информатика</option>
                <option value="">Обществознание</option>
                <option value="">Начальные классы</option>
              </select>
              <label for="role" class="forma__inputs--label">Роль:</label>
              <select class="forma__inputs--input" name="" id="role">
                <option value="">Родитель</option>
                <option value="">Ученик</option>
                <option value="">Учитель</option>
              </select>
            </form>
          </div>
          <div class="forma__inputs--button">
            <button class="button forma-button">Записаться</button>
          </div>
          <div class="forma__inputs--pic">
            <img src="static/images/cat.png" alt="">
          </div>
        </div>
      </div>
        <!-- <button type="button" class="button js-modal-btn" data-modal="example-modal">Example modal button</button> -->
      <!-- <button type="button" class="button js-tooltip-btn" data-tooltip="example-tooltip" data-content="Hello there">
        Example tooltip button
      </button> -->


    <%= _.template(require('./includes/footer.html').default)() %>

    <%= _.template(require('./includes/modals.html').default)() %>

    <script src="./static/js/bundle.js?v=<%= hash %>"></script>
  </body>
</html>
