.forma {
  margin-bottom: 76px;

  @media (min-width: $desktop-width) and (max-width: $desktop-large-width) {
    margin-bottom: 56px;
  }
  @media (min-width: $tablet-width-min) and (max-width: $tablet-width-max) {
    margin-bottom: 46px;
  }
  @media (min-width: $tablet-mini-min) and (max-width: $tablet-maxi-max) {
    margin-bottom: 46px;
  }
  @media (max-width: $mobile-width-max) {
    margin-bottom: 46px;
  }
}
.forma__inputs {
  box-shadow: 0px 4px 35px rgba(210, 206, 227, 0.6);
  border-radius: 30px;
  display: grid;
  padding: 38px 230px 56px;
  grid-template-columns: 312px 56px 168px 68px 162px;

  @media (min-width: $desktop-width) and (max-width: $desktop-large-width) {
    padding: 38px 78px 56px;
  }
}
.forma__inputs--title {
  font-weight: 600;
  font-size: 22px;
  line-height: 1.36;
  text-align: center;
  grid-column: 1 / 7;
  grid-row: 1 / 2;
}
.forma__inputs--user {
  margin-top: 50px;
}
.forma__inputs--user form {
  display: grid;
  grid-template-columns: 110px 202px;
  row-gap: 21px;
  align-items: center;
}
.forma__inputs--label {
  font-size: 18px;
  line-height: 1.38;
  color: var(--color-text);
}
.forma__inputs--input {
  background: #ffffff;
  border: 1px solid #e3dce4;
  border-radius: 8px;
  font-size: 16px;
  line-height: 1.38;
  color: var(--color-text);
  padding: 7px;
  padding-left: 16px;
}
::placeholder {
  font-size: 16px;
  line-height: 1.38;
  color: var(--color-text);
}
.forma__inputs--button {
  grid-column: 3 / 4;
  position: relative;
}
.forma-button {
  margin-left: 0;
  padding: 10px 34px;
  position: absolute;
  bottom: 0;
}
.forma__inputs--pic {
  position: relative;
  grid-column: 5 / 6;
}
.forma__inputs--pic img {
  width: 162px;
  height: 162px;
  position: absolute;
  bottom: 0;
  transform: translateY(12px);
}
