// html {
//   height: 100%;
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
//   scroll-behavior: smooth;
// }

// *,
// *:before,
// *:after {
//   box-sizing: inherit;
// }

// body {
//   box-sizing: border-box;
//   display: flex;
//   flex-direction: column;
//   margin: 0;
//   padding: 0;
//   min-height: 100%;
//   scroll-behavior: smooth;

//   -ms-text-size-adjust: 100%;
//   -webkit-text-size-adjust: 100%;
//   -moz-osx-font-smoothing: grayscale;
//   -webkit-font-smoothing: antialiased;

//   font-size: 16px;
//   line-height: 1.15;

//   .is-modal-opened & {
//     overflow: hidden;
//   }
// }

// .main-content {
//   flex: 1 0 auto;
//   padding-bottom: 60px;
// }

// input,
// button {
//   font-family: inherit;
// }

// .container {
//   @include containerStyles;
// }

// .mobile-hidden {
//   @include mobile {
//     display: none;
//   }
// }

// .desktop-hidden {
//   @media (min-width: 767px) {
//     display: none;
//   }
// }

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  box-sizing: inherit;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-VariableFont.woff2') format('woff2 supports variations'),
    url('../fonts/OpenSans-VariableFont.woff2') format('woff2-variations');
  font-weight: 400 700;
}

body {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 20px;
  font-weight: 400;
  background-color: #fff;
  color: var(--color-text);
  // overflow-y: hidden;
  margin: 0;
}
.stop-scroll {
  overflow: hidden;
}

a {
  text-decoration: none;
}

.is-hidden {
  display: none !important;
}

:focus {
  outline: none;
}
.button {
  &:hover {
    background-color: #0185ff;
  }
  &:focus {
    background-color: #0f79db;
    border: 2px solid #1b3a56;
  }

  &--alt {
    &:hover {
      background-color: #eef3ff;
    }
    &:focus {
      border: 2px solid #1c1c2d;
    }
  }
  &--enter {
    @media (min-width: $tablet-width-min) and (max-width: $tablet-width-max) {
      display: none;
    }
    @media (min-width: $tablet-mini-min) and (max-width: $tablet-maxi-max) {
      display: none;
    }
    @media (max-width: $mobile-width-max) {
      display: none;
    }
  }
}
.container {
  max-width: 1366px;
  padding: 0;
  margin: 0 auto;
  // outline: red 1px solid;
}
