:root {
  --color-white: #fff;
  --color-black: #000;

  --color-main-bg: #fff;

  --color-brand: #b44545;
  --color-text: #111111;
  --color-label: #3f3f3f;
  --color-graytip: #b5b5b5;
  --color-input-bg: #c8c6c6;
  --color-link: var(--color-brand);

  --color-error: #D6001C;
  --color-success: #15CF74;
  --color-pending: #F69E1E;
  --color-exception: #FF9595;
}
