:root {
  --color-white: #fff;
  --color-black: #000;

  --color-main-bg: #fff;

  --color-brand: #b44545;
  --color-text: #111111;
  --color-label: #3f3f3f;
  --color-graytip: #b5b5b5;
  --color-input-bg: #c8c6c6;
  --color-link: var(--color-brand);

  --color-error: #d6001c;
  --color-success: #15cf74;
  --color-pending: #f69e1e;
  --color-exception: #ff9595;

  --color-blue: #0f79db;
  --color-teal: #12a1ce;
  --color-violet: #343669;
  --color-beige: #fff1e0;
  --color-text: #1c1c2d;
}
